Repository parameter1/industrial-media-websites, pull requests merged in 2019-12, with the labels that each got.

#34 Add subscription links to subscribe page
  sites/foodmanufacturing/server/templates/subscribe/index.marko
  sites/impomag/server/templates/subscribe/index.marko
  sites/manufacturing/server/templates/subscribe/index.marko
  sites/mbtmag/server/templates/subscribe/index.marko
Labels: 🌐 site: foodmanufacturing, 🌐 site: impomag, 🌐 site: manufacturing, 🌐 site: mbtmag

#36 Change safety-compliance nav item to safety
  sites/impomag.com/config/navigation.js
Labels: 🌐 site: impomag

#37 Add CCPA links to footer and menu
  sites/foodmanufacturing.com/config/navigation.js
  sites/impomag.com/config/navigation.js
  sites/inddist.com/config/navigation.js
  sites/manufacturing.net/config/navigation.js
  sites/mbtmag.com/config/navigation.js
Labels: 🌐 site: ALL
