Repository parameter1/industrial-media-websites, pull requests merged in 2019-11, with the labels that each got.

#18 Updated ID linkedin link
  sites/inddist/config/site.js
Labels: site: inddist

#19 Updated ID linkedin url, again
  sites/inddist/config/site.js
Labels: site: inddist

#20 Update @base-cms dependencies to v1.0.0-beta.15
  packages/common/package.json
  sites/foodmanufacturing/package.json
  sites/impomag/package.json
  sites/inddist/package.json
  sites/manufacturing/package.json
  sites/mbtmag/package.json
  yarn.lock
Labels: dependencies

#22 Update @base-cms dependencies
  packages/common/package.json
  sites/foodmanufacturing/package.json
  sites/impomag/package.json
  sites/inddist/package.json
  sites/manufacturing/package.json
  sites/mbtmag/package.json
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: common

#23 INDM Billboard ads
  sites/foodmanufacturing/config/gam.js
  sites/foodmanufacturing/server/styles/index.scss
  sites/foodmanufacturing/server/templates/content/index.marko
  sites/impomag/config/gam.js
  sites/impomag/server/styles/index.scss
  sites/impomag/server/templates/content/index.marko
  sites/inddist/config/gam.js
  sites/inddist/server/styles/index.scss
  sites/inddist/server/templates/content/index.marko
  sites/manufacturing/config/gam.js
  sites/manufacturing/server/styles/index.scss
  sites/manufacturing/server/templates/content/index.marko
  sites/mbtmag/config/gam.js
  sites/mbtmag/server/styles/index.scss
  sites/mbtmag/server/templates/content/index.marko
Labels: 🌐 site: ALL

#24 Rename Workforce Development to Workforce
  sites/inddist/config/navigation.js
Labels: 🌐 site: inddist

#26 Remove magazine from nav & add list header to hero block
  sites/manufacturing/config/navigation.js
  sites/manufacturing/server/components/flows/content-hero.marko
  sites/manufacturing/server/components/flows/marko.json
  sites/manufacturing/server/templates/index.marko
Labels: 🌐 site: manufacturing

#27 Remove magazine from nav & add list header to hero block
  sites/mbtmag/config/navigation.js
  sites/mbtmag/server/components/flows/content-hero.marko
  sites/mbtmag/server/components/flows/marko.json
  sites/mbtmag/server/templates/index.marko
Labels: 🌐 site: mbtmag

#28 Remove magazine from nav & add list header to hero block
  sites/foodmanufacturing/config/navigation.js
  sites/foodmanufacturing/server/components/flows/content-hero.marko
  sites/foodmanufacturing/server/components/flows/marko.json
  sites/foodmanufacturing/server/templates/index.marko
Labels: 🌐 site: foodmanufacturing

#30 Add GCSE configuration
  sites/foodmanufacturing/config/gcse.js
  sites/impomag/config/gcse.js
  sites/inddist/config/gcse.js
  sites/manufacturing/config/gcse.js
  sites/mbtmag/config/gcse.js
Labels: 🌐 site: ALL

#31 Add “Big 50” to the secondary nav and menu
  sites/inddist/config/navigation.js
Labels: 🌐 site: inddist

#32 Cram Big 50 into the primary nav
  sites/inddist/config/navigation.js
Labels: 🌐 site: inddist

#33 Drop -staging from docker-compoose urls
  docker-compose.yml
Labels: 🌐 site: ALL
