Repository parameter1/industrial-media-websites, pull requests merged in 2019-10, with the labels that each got.

#9 INDM ads, packages, and layout updates
  packages/common/package.json
  sites/foodmanufacturing/config/gam.js
  sites/foodmanufacturing/config/navigation.js
  sites/foodmanufacturing/package.json
  sites/foodmanufacturing/server/templates/content/index.marko
  sites/foodmanufacturing/server/templates/index.marko
  sites/foodmanufacturing/server/templates/website-section/index.marko
  sites/impomag/config/gam.js
  sites/impomag/config/navigation.js
  sites/impomag/package.json
  sites/impomag/server/templates/content/index.marko
  sites/impomag/server/templates/index.marko
  sites/impomag/server/templates/website-section/index.marko
  sites/inddist/config/gam.js
  sites/inddist/config/navigation.js
  sites/inddist/package.json
  sites/inddist/server/templates/content/index.marko
  sites/inddist/server/templates/index.marko
  sites/inddist/server/templates/website-section/index.marko
  sites/manufacturing/config/gam.js
  sites/manufacturing/config/navigation.js
  sites/manufacturing/package.json
  sites/manufacturing/server/templates/content/index.marko
  sites/manufacturing/server/templates/index.marko
  sites/manufacturing/server/templates/website-section/index.marko
  sites/mbtmag/config/gam.js
  sites/mbtmag/config/navigation.js
  sites/mbtmag/package.json
  sites/mbtmag/server/templates/content/index.marko
  sites/mbtmag/server/templates/index.marko
  sites/mbtmag/server/templates/website-section/index.marko
  yarn.lock
Labels: site: foodmanufacturing, site: impomag, site: inddist, site: manufacturing, site: mbtmag

#10 INDM Updates - Round 1
  sites/foodmanufacturing/config/site.js
  sites/impomag/config/navigation.js
  sites/impomag/config/site.js
  sites/inddist/config/navigation.js
  sites/inddist/config/site.js
  sites/inddist/server/styles/index.scss
  sites/manufacturing/config/site.js
  sites/mbtmag/config/site.js
Labels: site: foodmanufacturing, site: impomag, site: inddist, site: manufacturing, site: mbtmag

#11 Upgrade @base-cms dependencies to beta.5
  packages/common/package.json
  sites/foodmanufacturing/package.json
  sites/impomag/package.json
  sites/inddist/package.json
  sites/manufacturing/package.json
  sites/mbtmag/package.json
  yarn.lock
Labels: dependencies

#13 Home page updates for ID, IMPO
  sites/impomag/server/templates/index.marko
  sites/inddist/server/templates/index.marko
Labels: site: impomag, site: inddist

#12 Upgrade to base-cms beta.7 + pre-launch tweaks
  packages/common/package.json
  sites/foodmanufacturing/package.json
  sites/foodmanufacturing/server/components/nodes/contact-us-list.marko
  sites/foodmanufacturing/server/components/nodes/content-card.marko
  sites/foodmanufacturing/server/components/nodes/content-list.marko
  sites/foodmanufacturing/server/graphql/fragments/content-contact-us.js
  sites/foodmanufacturing/server/graphql/fragments/content-list.js
  sites/foodmanufacturing/server/graphql/fragments/content-page.js
  sites/foodmanufacturing/server/public/robots.txt
  sites/foodmanufacturing/server/templates/content/index.marko
  sites/impomag/package.json
  sites/impomag/server/components/nodes/contact-us-list.marko
  sites/impomag/server/components/nodes/content-card.marko
  sites/impomag/server/components/nodes/content-list.marko
  sites/impomag/server/graphql/fragments/content-contact-us.js
  sites/impomag/server/graphql/fragments/content-list.js
  sites/impomag/server/graphql/fragments/content-page.js
  sites/impomag/server/public/robots.txt
  sites/impomag/server/templates/content/index.marko
  sites/inddist/package.json
  sites/inddist/server/components/nodes/contact-us-list.marko
  sites/inddist/server/components/nodes/content-card.marko
  sites/inddist/server/components/nodes/content-list.marko
  sites/inddist/server/graphql/fragments/content-contact-us.js
  sites/inddist/server/graphql/fragments/content-list.js
  sites/inddist/server/graphql/fragments/content-page.js
  sites/inddist/server/public/robots.txt
  sites/inddist/server/templates/content/index.marko
  sites/manufacturing/package.json
  sites/manufacturing/server/components/nodes/contact-us-list.marko
  sites/manufacturing/server/components/nodes/content-card.marko
  sites/manufacturing/server/components/nodes/content-list.marko
  sites/manufacturing/server/graphql/fragments/content-contact-us.js
  sites/manufacturing/server/graphql/fragments/content-list.js
  sites/manufacturing/server/graphql/fragments/content-page.js
  sites/manufacturing/server/public/robots.txt
  sites/manufacturing/server/templates/content/index.marko
  sites/mbtmag/package.json
  sites/mbtmag/server/components/nodes/contact-us-list.marko
  sites/mbtmag/server/components/nodes/content-card.marko
  sites/mbtmag/server/components/nodes/content-list.marko
  sites/mbtmag/server/graphql/fragments/content-contact-us.js
  sites/mbtmag/server/graphql/fragments/content-list.js
  sites/mbtmag/server/graphql/fragments/content-page.js
  sites/mbtmag/server/public/robots.txt
  sites/mbtmag/server/templates/content/index.marko
  yarn.lock
Labels: site: foodmanufacturing, site: impomag, site: inddist, site: manufacturing, site: mbtmag

#14 Update Mnet’s favicons to match primary color
  sites/manufacturing/server/public/android-chrome-192x192.png
  sites/manufacturing/server/public/android-chrome-512x512.png
  sites/manufacturing/server/public/apple-touch-icon.png
  sites/manufacturing/server/public/favicon-16x16.png
  sites/manufacturing/server/public/favicon-32x32.png
  sites/manufacturing/server/public/favicon.ico
Labels: site: manufacturing

#15 Fix syntax error in content page fragment
  sites/foodmanufacturing/server/graphql/fragments/content-page.js
Labels: site: foodmanufacturing

#16 Insert flow before load more on home and section pages
  sites/foodmanufacturing/server/templates/index.marko
  sites/foodmanufacturing/server/templates/website-section/index.marko
  sites/impomag/server/templates/index.marko
  sites/impomag/server/templates/website-section/index.marko
  sites/inddist/server/templates/index.marko
  sites/inddist/server/templates/website-section/index.marko
  sites/manufacturing/server/templates/index.marko
  sites/manufacturing/server/templates/website-section/index.marko
  sites/mbtmag/server/templates/index.marko
  sites/mbtmag/server/templates/website-section/index.marko
Labels: site: foodmanufacturing, site: impomag, site: inddist, site: manufacturing, site: mbtmag
