Repository parameter1/industrial-media-websites, pull requests merged in 2020-03, with the labels that each got.

#54 Food nav changes
  sites/foodmanufacturing.com/config/navigation.js
  sites/foodmanufacturing.com/server/styles/index.scss
Labels: 🌐 site: foodmanufacturing.com

#58 Update ad units
  sites/cannabisequipmentnews.com/config/gam.js
  sites/designdevelopmenttoday.com/config/gam.js
  sites/ien.com/config/gam.js
Labels: 🌐 site: designdevelopmenttoday.com, 🌐 site: cannabisequipmentnews.com, 🌐 site: ien.com

#59 Integrate IdentityX login/gating/comments for all sites
  packages/shared/browser/index.js
  packages/shared/components/content-page/comments.marko
  packages/shared/components/content-page/gate.marko
  packages/shared/components/content-page/marko.json
  packages/shared/components/document.marko
  packages/shared/components/marko.json
  packages/shared/graphql/fragments/content-page.js
  packages/shared/package.json
  packages/shared/routes/user.js
  packages/shared/scss/components/_content-page.scss
  packages/shared/scss/components/_identity-x.scss
  packages/shared/scss/core.scss
  packages/shared/start-server.js
  packages/shared/templates/content/index.marko
  packages/shared/templates/user/authenticate.marko
  packages/shared/templates/user/login.marko
  packages/shared/templates/user/logout.marko
  packages/shared/templates/user/profile.marko
  packages/shared/templates/user/register.marko
  packages/shared/utils/get-content-preview.js
  sites/cannabisequipmentnews.com/config/site.js
  sites/designdevelopmenttoday.com/config/site.js
  sites/foodmanufacturing.com/config/site.js
  sites/ien.com/config/site.js
  sites/impomag.com/config/site.js
  sites/inddist.com/config/site.js
  sites/manufacturing.net/config/site.js
  sites/mbtmag.com/config/site.js
  yarn.lock
Labels: 🌐 site: ALL
