Repository parameter1/industrial-media-websites, pull requests merged in 2020-08, with the labels that each got.

#96 Replace ingredients channel with labor
  sites/foodmanufacturing.com/config/navigation.js
Labels: 🌐 site: foodmanufacturing.com

#97 Update dev config, disable IdentityX
  docker-compose.yml
  sites/cannabisequipmentnews.com/config/site.js
  sites/designdevelopmenttoday.com/config/site.js
  sites/foodmanufacturing.com/config/site.js
  sites/ien.com/config/site.js
  sites/impomag.com/config/site.js
  sites/inddist.com/config/site.js
  sites/manufacturing.net/config/site.js
  sites/mbtmag.com/config/site.js
Labels: 🌐 site: ALL

#98 Re-enable IdentityX
  docker-compose.yml
  sites/cannabisequipmentnews.com/config/site.js
  sites/designdevelopmenttoday.com/config/site.js
  sites/foodmanufacturing.com/config/site.js
  sites/ien.com/config/site.js
  sites/impomag.com/config/site.js
  sites/inddist.com/config/site.js
  sites/manufacturing.net/config/site.js
  sites/mbtmag.com/config/site.js
Labels: 🌐 site: ALL

#99 Exclude “IEN Today (Refresh)” from signup
  packages/shared/templates/newsletter-signup.marko
Labels: 🌐 site: ien.com

#101 Remove resources from DDT menu
  sites/designdevelopmenttoday.com/config/navigation.js
Labels: 🌐 site: designdevelopmenttoday.com
