Repository parameter1/industrial-media-websites, pull requests merged in 2022-11, with the labels that each got.

#279 Dependency upgrade
  packages/global/package.json
  sites/cannabisequipmentnews.com/package.json
  sites/designdevelopmenttoday.com/package.json
  sites/foodmanufacturing.com/package.json
  sites/ien.com/package.json
  sites/impomag.com/package.json
  sites/inddist.com/package.json
  sites/manufacturing.net/package.json
  sites/mbtmag.com/package.json
  sites/medicaldesigndevelopment.com/package.json
Labels: dependencies

#280 Add podcast signup link to all Industrial Media sites’ nav
  sites/designdevelopmenttoday.com/config/navigation.js
  sites/foodmanufacturing.com/config/navigation.js
  sites/ien.com/config/navigation.js
  sites/impomag.com/config/navigation.js
  sites/inddist.com/config/navigation.js
  sites/manufacturing.net/config/navigation.js
  sites/mbtmag.com/config/navigation.js
Labels: 🌐 site: inddist.com, 🌐 site: mbtmag.com, 🌐 site: manufacturing.net, 🌐 site: foodmanufacturing.com, 🌐 site: impomag.com, 🌐 site: ien.com, 🌐 site: designdevelopmenttoday.com

#282 Remove marko-web-theme-default
  packages/global/components/site-footer.marko
  packages/global/package.json
  sites/cannabisequipmentnews.com/package.json
  sites/designdevelopmenttoday.com/package.json
  sites/foodmanufacturing.com/package.json
  sites/ien.com/package.json
  sites/impomag.com/package.json
  sites/inddist.com/package.json
  sites/manufacturing.net/package.json
  sites/mbtmag.com/package.json
  sites/medicaldesigndevelopment.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#285 Add transcript support
  packages/global/components/blocks/section-cards.marko
  packages/global/components/flows/content/card-deck.marko
  packages/global/components/layouts/content/company-details.marko
  packages/global/components/layouts/content/company.marko
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/dynamic-page/index.marko
  packages/global/components/layouts/website-section/default.marko
  packages/global/components/site-footer.marko
  packages/global/components/site-header-2.marko
  packages/global/components/site-header-custom.marko
  packages/global/components/site-header.marko
  packages/global/components/site-menu/index.marko
  packages/global/graphql/fragments/content-page.js
  packages/global/package.json
  packages/global/templates/content/contact.marko
  packages/global/templates/content/native-x-story.marko
  packages/global/templates/content/print.marko
  packages/global/templates/spec-guide/index.marko
  packages/global/templates/stealth-link.marko
  sites/cannabisequipmentnews.com/package.json
  sites/designdevelopmenttoday.com/package.json
  sites/foodmanufacturing.com/package.json
  sites/ien.com/package.json
  sites/impomag.com/package.json
  sites/inddist.com/package.json
  sites/manufacturing.net/package.json
  sites/mbtmag.com/package.json
  sites/medicaldesigndevelopment.com/package.json
  yarn.lock
Labels: 🌐 site: ALL
