Repository parameter1/industrial-media-websites, pull requests merged in 2022-08, with the labels that each got.

#241 Update GAM configs
  packages/global/components/layouts/content/wrapper.marko
  packages/global/components/layouts/website-section/default.marko
  packages/global/config/gam.js
  packages/global/scss/components/_ads.scss
  packages/global/templates/content/contact.marko
  packages/global/templates/dynamic-page/index.marko
  sites/global.cannabisequipmentnews.com/config/gam.js
  sites/global.designdevelopmenttoday.com/config/gam.js
  sites/global.foodmanufacturing.com/config/gam.js
  sites/global.ien.com/config/gam.js
  sites/global.impomag.com/config/gam.js
  sites/global.inddist.com/config/gam.js
  sites/global.manufacturing.net/config/gam.js
  sites/global.mbtmag.com/config/gam.js
  sites/global.medicaldesigndevelopment.com/config/gam.js
Labels: 🌐 site: ALL

#243 Config footer signup & disable newsletter middleware & pushdown toggle button
  docker-compose.yml
  packages/global/components/site-header-custom.marko
  packages/global/start-server.js
  sites/global.cannabisequipmentnews.com/config/newsletter.js
  sites/global.designdevelopmenttoday.com/config/newsletter.js
  sites/global.foodmanufacturing.com/config/newsletter.js
  sites/global.ien.com/config/newsletter.js
  sites/global.impomag.com/config/newsletter.js
  sites/global.inddist.com/config/newsletter.js
  sites/global.manufacturing.net/config/newsletter.js
  sites/global.mbtmag.com/config/newsletter.js
  sites/global.medicaldesigndevelopment.com/config/newsletter.js
Labels: 🌐 site: ALL

#245 Use the correct publicationId for IEN's magazine configuration
  sites/ien.com/config/magazine.js
Labels: bug, 🌐 site: ien.com

#247 Add Contact Us to menu IEN
  sites/ien.com/config/navigation.js
Labels: 🌐 site: ien.com

#248 Use site configuration for Video Player component playlist + player id's
  packages/global/components/elements/video-player.marko
Labels: bug, 🌐 site: ien.com, 🌐 site: medicaldesigndevelopment.com

#256 Upgrade p1-events package version & ensure brandKey & identityQueryBuilder function are set correctly.
  packages/global/components/document.marko
  packages/global/package.json
  yarn.lock
Labels: bug
