Repository parameter1/industrial-media-websites, pull requests merged in 2022-09, with the labels that each got.

#258 Display teasers on content pages
  packages/global/components/layouts/content/default.marko
  packages/global/scss/core.scss
Labels: 🌐 site: ALL

#262 Fix wrong footer info links-ID
  sites/inddist.com/config/navigation.js
  sites/medicaldesigndevelopment.com/config/navigation.js
Labels: 🌐 site: inddist.com

#263 Fix incorrect ‘About Us’ link
  sites/inddist.com/config/navigation.js
Labels: 🌐 site: inddist.com

#265 Advertise link update all to correct forms
  sites/cannabisequipmentnews.com/config/navigation.js
  sites/designdevelopmenttoday.com/config/navigation.js
  sites/foodmanufacturing.com/config/navigation.js
Labels: 🌐 site: foodmanufacturing.com, 🌐 site: cannabisequipmentnews.com, 🌐 site: designdevelopmenttoday.com

#264 Replace ‘Workforce’ & ‘Big 50’ in primary nav
  sites/inddist.com/config/navigation.js
Labels: 🌐 site: inddist.com

#267 Correct Website spelling, only display respective fields if populated on Company pages.
  packages/global/components/layouts/content/company-details.marko
Labels: 🌐 site: ALL

#269 Add contact us form to right rail of dynamic pages
  packages/global/components/layouts/website-section/contact-us.marko
  packages/global/components/layouts/website-section/marko.json
  packages/global/redirect-handler.js
  packages/global/routes/contact-us.js
  packages/global/routes/index.js
  packages/global/templates/dynamic-page/index.marko
  packages/global/templates/website-section/contact-us.marko
  sites/cannabisequipmentnews.com/config/navigation.js
  sites/designdevelopmenttoday.com/config/navigation.js
  sites/foodmanufacturing.com/config/navigation.js
  sites/ien.com/config/navigation.js
  sites/impomag.com/config/navigation.js
  sites/inddist.com/config/navigation.js
  sites/manufacturing.net/config/navigation.js
  sites/mbtmag.com/config/navigation.js
  sites/medicaldesigndevelopment.com/config/navigation.js
Labels: 🌐 site: ALL

#268 Add ‘About Us’ under Resources in hamburger menu
  sites/cannabisequipmentnews.com/config/navigation.js
  sites/ien.com/config/navigation.js
Labels: 🌐 site: ien.com, 🌐 site: cannabisequipmentnews.com
