Repository parameter1/industrial-media-websites, pull requests merged in 2023-07, with the labels that each got.

#328 Update Brightcove playlists
  packages/global/components/elements/video-player.marko
  sites/foodmanufacturing.com/config/site.js
  sites/manufacturing.net/config/site.js
Labels: 🌐 site: manufacturing.net, 🌐 site: foodmanufacturing.com, 🌐 site: ien.com

#331 Include contact title and addressable fields on contact pages
  packages/global/components/layouts/content/default.marko
Labels: 🌐 site: ALL

#332 Add Podcast to nav and menu, MBT
  sites/mbtmag.com/config/navigation.js
Labels: 🌐 site: mbtmag.com
