Repository parameter1/industrial-media-websites, pull requests merged in 2024-02, with the labels that each got.

#372 Add global-content-meter-block and update verbiage
  packages/global/components/blocks/content-meter.marko
  packages/global/components/blocks/marko.json
  packages/global/components/document.marko
  packages/global/config/identity-x.js
  packages/global/package.json
  packages/global/scss/core.scss
  sites/cannabisequipmentnews.com/package.json
  sites/designdevelopmenttoday.com/package.json
  sites/foodmanufacturing.com/package.json
  sites/ien.com/package.json
  sites/impomag.com/package.json
  sites/inddist.com/package.json
  sites/manufacturing.net/package.json
  sites/mbtmag.com/package.json
  sites/medicaldesigndevelopment.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#383 Update P1 deps
  packages/global/package.json
  sites/cannabisequipmentnews.com/package.json
  sites/designdevelopmenttoday.com/package.json
  sites/foodmanufacturing.com/package.json
  sites/ien.com/package.json
  sites/impomag.com/package.json
  sites/inddist.com/package.json
  sites/manufacturing.net/package.json
  sites/mbtmag.com/package.json
  sites/medicaldesigndevelopment.com/package.json
  yarn.lock
Labels: dependencies

#384 Add Gen Z to navigation
  sites/manufacturing.net/config/navigation.js
Labels: 🌐 site: manufacturing.net

#385 Upgrade P1 deps
  packages/global/package.json
  sites/cannabisequipmentnews.com/package.json
  sites/designdevelopmenttoday.com/package.json
  sites/foodmanufacturing.com/package.json
  sites/ien.com/package.json
  sites/impomag.com/package.json
  sites/inddist.com/package.json
  sites/manufacturing.net/package.json
  sites/mbtmag.com/package.json
  sites/medicaldesigndevelopment.com/package.json
  yarn.lock
Labels: dependencies
