Repository parameter1/industrial-media-websites, pull requests merged in 2024-08, with the labels that each got.

#411 Adjust home page right rail to pull in 'Top News'
  sites/inddist.com/server/routes/home.js
  sites/inddist.com/server/templates/home.marko
Labels: 🌐 site: inddist.com

#415 Utilize button to show Transcript when clicked
  packages/global/components/layouts/content/default.marko
Labels: 🌐 site: ALL

#417 Adjust homepage top stories block
  sites/foodmanufacturing.com/server/routes/home.js
  sites/foodmanufacturing.com/server/templates/home.marko
  sites/medicaldesigndevelopment.com/server/routes/home.js
  sites/medicaldesigndevelopment.com/server/templates/home.marko
Labels: 🌐 site: foodmanufacturing.com, 🌐 site: medicaldesigndevelopment.com
