Repository parameter1/industrial-media-websites, pull requests merged in 2024-09, with the labels that each got.

#421 Replace ‘Since 1998’ with Aerospace in nav
  sites/manufacturing.net/config/navigation.js
Labels: 🌐 site: manufacturing.net

#424 Allow the form to fill the whole container on mobile
  packages/global/templates/formstack.marko
Labels: 🌐 site: ALL

#428 Add ‘Since (year)’ to secondary nav
  sites/foodmanufacturing.com/config/navigation.js
  sites/ien.com/config/navigation.js
  sites/impomag.com/config/navigation.js
  sites/inddist.com/config/navigation.js
  sites/manufacturing.net/config/navigation.js
Labels: 🌐 site: inddist.com, 🌐 site: manufacturing.net, 🌐 site: foodmanufacturing.com, 🌐 site: impomag.com, 🌐 site: ien.com
